@{
    ViewData["Title"] = "Наши блюда";
}

<body>
    <main class="main bg-transparent">
        <div class="mt-5">
            <h1 class=""> Меню: Горячее </h1> @*mark*@
        </div>

        <hr class="featurette-divider">

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">

                <div class="col-6">
                    <div class="card shadow-sm">
                        <img src="/images/1.png">
                        <div class="card-body">
                            <p class="card-text" style="height: 20px;">Чикибамбони с яйцом</p>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card shadow-sm">
                        <img src="/images/isekaishokudou_180.jpg">
                        <div class="card-body">
                            <p class="card-text" style="height: 20px;">Чирэветки в кляре под сырным одеялом</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card shadow-sm">
                        <img src="/images/2.jpg">
                        <div class="card-body">
                            <p class="card-text" style="height: 20px;">Итальянцы под пастой</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card shadow-sm">
                        <img src="/images/3.jpg">
                        <div class="card-body">
                            <p class="card-text" style="height: 20px;">Властелин колец</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div>
            <h1 class="mt-5">Меню: Десерт</h1>@*mark*@
        </div>

        <hr class="featurette-divider">

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">

                <div class="col-6">
                    <div class="card shadow-sm">
                        <img src="/images/D1.jpg">
                        <div class="card-body">
                            <p class="card-text" style="height: 20px;">Шоколадное затмение</p>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card shadow-sm">
                        <img src="/images/D2.jpg">
                        <div class="card-body">
                            <p class="card-text" style="height: 20px;">Царь горы</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div>
            <h1 class="mt-5">Меню: Напитки</h1>@*mark*@
        </div>

        <hr class="featurette-divider">

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">

                <div class="col-6">
                    <div class="card shadow-sm">
                        <img src="/images/B1.jpg">
                        <div class="card-body">
                            <p class="card-text" style="height: 20px;">Дюшес</p>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card shadow-sm">
                        <img src="/images/B2.jpg">
                        <div class="card-body">
                            <p class="card-text" style="height: 20px;">Дюшес</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

    </main>
</body>
