@{
    ViewData["Title"] = "Home Page";
}

<body>
    <main class="main">
        <header>
            <h1 class="Shrift mark">
                Дом Кота
            </h1>
        </header>

        <div>
            <img class="container" src="/images/isekaishokudou_3.jpg" />
        </div>

        <div class="blog-post m-4">
            <h2 class="blog-post-title fontsizeL">Мы - ресторан заморской кухни.</h2>

            <p>Мы рады приветствовать вас на сайте нашего ресторана. Для того чтобы попасть к нам, вам необходимо отыскать дверь с изображения кота, эта дверь может появиться где угодно.</p>
            <ul>
                <li>Мы открыты каждое воскресенье с 9 - 23.</li>
                <li>У нас только свежие продукты.</li>
                <li></li>
            </ul>
            <p></p>
            <p></p>
        </div>
    </main>
</body>