@{
    ViewData["Title"] = "Home Page";
}

<body>
    
    <main class="main">
        <header>
            <h1 class="Shrift mark">
                Дом Кота
            </h1>
        </header>

        <hr class="featurette-divider">

        <div>
            <img class="container" src="/images/isekaishokudou_3.jpg" />
        </div>

        <hr class="featurette-divider">

        <div class="blog-post m-4">
            <h2 class="blog-post-title fontsizeL text-center">Дом Кота - ресторан заморской кухни.</h2>


            <p class="fs mt-4">Мы рады приветствовать вас на сайте нашего ресторана. Для того чтобы попасть к нам, вам необходимо отыскать дверь с изображения кота, эта дверь может появиться где угодно.</p>
            <ul class="fs2 mt-4">
                <li>Мы открыты каждое воскресенье с 9 - 23.</li>
                <li>У нас только свежие продукты.</li>
            </ul>
        </div>
    </main>
</body>