@{
    ViewData["Title"] = "Home Page";
}

<body>
    <main class="main">
        <header>
            <h1 class="Shrift mark">
                Дом Кота
            </h1>
        </header>

        <div>
            <img class="container" src="/images/isekaishokudou_3.jpg" />
        </div>

        <div class="blog-post m-4">
            <h2 class="blog-post-title fontsizeL">Мы - ресторан заморской кухни.</h2>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
                <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                <li>Donec id elit non mi porta gravida at eget metus.</li>
                <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        </div><!-- /.blog-post -->

    </main>
</body>