@{
    ViewData["Title"] = "Работники";
}

<body>
    <div>

    </div>


    <div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-Заголовок">Шэф. <span class="text-muted">Он же - главный по кириветкам.</span></h2>
                <p class="lead">Возьмет пару серебрянных за ваш обед.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="container" src="/images/Batya5.jpg"/>
            </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-Заголовок">Аллета. <span class="text-muted"> </span></h2>
                <p class="lead"></p>
            </div>
            <div class="col-md-5">
                <img class="container" src="/images/1of5.jpg" />
            </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-Заголовок">Куро. <span class="text-muted"> Куро.</span></h2>
                <p class="lead"></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="container" src="/images/2of5.jpg" />
            </div>
        </div>

        <hr class="featurette-divider">
    </div>





</body>