@model IEnumerable<DomKota.Models.Menu>
@{
    ViewData["Title"] = "Список блюд";
}

    <h2>Меню</h2>
    <table class="table">
        <tr>
            <td>Продукция</td>
            <td>Описание</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var menu in Model)
        {
    <tr>
        <td>@menu.Name</td>
        <td>@menu.Description</td>
        <td>@menu.Price</td>
        <td><a href="~/Home/Buy/@menu.Id">Купить</a></td>
    </tr>
        }
    </table>
